.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh; /* Set the container's height to 100% of the viewport height for vertical centering */
}
.main-header {
  padding: 3px;
  background-color: #333; /* Change this to your desired background color */
  color: white;
}

.header-container {
  max-width: 1200px; /* Adjust the max-width according to your design */
  margin: 0 auto;
  position: relative;
}

.logo-container {
  position: absolute;
  left: 0;
  top: 8px;
  color: #0066FF;
  font-size: 34.03px;
  font-family: 'Netflix Sans';
  font-weight: 700;
}

.nav-menu {
  position: absolute;
  left: 206px;
  top: 14px;
  display: flex;
}

.nav-link {
  margin-right: 20px;
  color: #DADADA;
  font-size: 20px;
  font-family: 'Netflix Sans';
  font-weight: 400;
  text-decoration: none;
}

.user-actions {
  position: absolute;
  right: 0;
  top: 8px;
  display: flex;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background: #0066FF;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

.language-selector {
  margin-right: 20px;
}

.language-button {
  position: relative;
}

/* Add additional styles as needed */
