<!-- admin_register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Admin Registration</title>
  <style>
    body {background-color: black;}
  </style>
</head>
<body>
    <main id="main" class="d-flex justify-content-center text-light ">

    <div class="" style="margin-top: 30px; height: 650px; width: 314px; top: 150px; position: absolute; background-color: black">

    <form action="{{ url_for('admin_register')}}" method="POST">

    <h1 class="h3 mb-3 fw-normal">Sign up</h1>

    <div class="form-group">
        <input type="text" name="username" class="form-control border-dark form-control-lg bg-dark text-light "  aria-describedby="emailHelp" placeholder="Username" style="height: 58px" required>
    </div>
    <br>
        <div class="form-group">
            <input type="password" name="password" class="form-control border-dark form-control-lg bg-dark text-light "  aria-describedby="emailHelp" placeholder="Password" style="height: 58px" required>
        </div>
    <br>


    <button class="btn btn-primary w-100 py-2" type="submit">Sign up!</button>

    </form>

    </div>
</main>
</body>
</html>
