<!DOCTYPE html>
<html lang="en" style="background-color: black">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .navbar {
    background-color: black;
}
.navbar-brand {
    font-family: 'Netflix Sans', Arial, serif;
    font-style: normal;
}

    </style>
</head>
<body>

<nav class="navbar navbar-expand-md  navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AITUPARK</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cinema</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Movies</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="#">Food and beverage</a>
         </li>
        </ul>
        <button type="button" class="btn btn-primary">Sign In</button>

      </div>
    </div>
  </nav>

<main style="background-color: black">



<div class="container justify-content text-light" style="position: relative; background-color: black">

    <div class="row" style="top: 100px; position: absolute; background-color: black">
      <h1 style="position: relative; margin-left: 100px">About Us</h1>

      <h3 style="position: relative;margin-left: 100px; top: 50px">AITUPARK</h3>
    </div>

    <div class="row" style="position: absolute; top: 290px" >
      <p style="position: relative; margin-left: 100px">

        Currently, a movie theater in the cinema industry is not a mere public facility with an auditorium. Apart from a nice
        <br>
        display picture, the key requirements of today's moviegoers also include an opportunity to choose a movie at any time
        <br>
        convenient for them, a seat where they could stretch their legs to spend comfortably 1.5 hours watching a movie in
        <br>
        a cosy and stylish place, and where they could have some delicious refreshment prior to the screening. Do many
        <br>
        motion-picture theaters meet such high expectations? Absolutely not. Hence, the AITUPARK Theatres network stands
        <br>
        distinctive, being the leading cinema in Kazakhstan, and rightfully so. The AITUPARK Theatres cinema theaters
        <br>
        already meet the highest requirements laid for the new generation cinemas: a modern stylish design, high <br>
        technologies to ensure the best sound and picture, cosy and ergonomic chairs, including seats for persons with
        <br>
        special needs. However, as you know, there is no limit to perfection. AITUPARK Theatres has been making an <br>
        important contribution to Kazakhstan's cultural heritage by strengthening the Country 's standing in the global cinema
        <br>
        industry. AITUPARK Theatres is viewed as a reliable and responsible business partner for a reason. <br>
        <br>
        Competitive advantage: an inimitable style and investments in the quality
      </p>
    </div>

    <div class="row" style="position: absolute; top: 680px">
      <img src="/static/img/image%2010.png" alt="Picture" style="height: 300px;width: 780px; position: relative; left: 100px">
    </div>

    <div class = "row" style="position: absolute; top: 1100px">
      <p style="position: relative; margin-left: 100px">
        AITUPARK Theatres with its network of AITUPARK  cinema theaters is the largest cinema theatrical company in <br>
        Central Asia, which offers a unique business model for the entertainment industry and related services. To create the
        <br>
        new quality product, AITUPARK  Theatres believes using solely the state-of- the-art silver screen technologies to be
        <br>
        its top priority. So, the Company was the first one in Kazakhstan that introduced the Dolby Atmos audacious audio
        <br>
        system, IMAX format and laser projectors in its halls.
        <br>
        <br>

        The AITUPARK  Theatres network was established in 2005 by a team of high performers. Considering the experience
        <br>
        and level offered to the audience by the world's best cinemas, it was decided to create the ideal conditions for
        <br>
        Kazakhstani filmgoers too, for each cinema theater to become the archetype of quality in the entertainment and
        <br>
        leisure industry.
      </p>
    </div>



    <div class = "row" style="position: absolute; top: 1400px">
      <p style="position: relative; margin-left: 100px">
        The network's cinema theaters are equipped with state-of-the-art equipment and provide a wide range of services:
        <br>
      <ul style="position: relative; margin-left: 120px">
        <li> Concessions</li>
        <li> Lounge Bars</li>
        <li>Original Version</li>
        <li>Dine-in Cinemas.</li>
      </ul>
      </p>
    </div>


    <div class = "row" style="position: absolute; top: 1550px">
      <p style="position: relative; margin-left: 100px">
        The Company has been investing much in the construction and technological infrastructure of the new cinema theaters,
        <br>
        as well as advance training of its personnel.
      </p>
    </div>


    <div class="row" style="position: absolute; top: 1670px">
      <p style="position: relative; margin-left: 100px">
        The successful business of AITUPARK  Theatres is ensured by:
        <br>
        <ul style="left: 120px; position: relative">
          <li>The construction and finishing of the cinema halls</li>
          <li>Fitting the complex with mechanical, electrical and sanitary engineering systems</li>
          <li>Installing the latest audio and film projection equipment</li>
          <li>Training and retraining of its personnel through engagement in workshops and <br>
            practical studies organized by the industry's leaders</li>
          <li>Modern facilities for the bars and cashier desks.</li>
        </ul>
      </p>
    </div>


  <div class = "row" style="position: absolute; top: 1920px">
      <p style="position: relative; margin-left: 100px">
        Within less than 3 years, AITUPARK  Theatres has become the leader in the Country's market, as far as the number of
        <br>
        screens in the largest cities is concerned. Our first cinema theaters. Now the network covers all the largest cities and
        <br>
        is a 100% Kazakhstani company. At present, the AITUPARK  Theatres network has 72 halls and 10,147 seats. <br>

        <br>
        Cinema Astana It University
      </p>
    </div>

</div>

<div class="container text-light" style="background-color: black">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top d-flex justify-content-center">


    <div class="col mb-3">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">FAQ</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Investor Relations</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Ways to Watch</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Corporate Information</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Only on AITUPARK</a></li>
      </ul>
    </div>

    <div class="col mb-3">

      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Help Center</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Jobs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Terms of Use</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Contact Us</a></li>
      </ul>
    </div>

    <div class="col mb-3">

      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Account</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Redeem Gift Cards</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Privacy</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Speed Test</a></li>
      </ul>
    </div>

    <div class="col mb-3">

      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Media Center</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Buy Gift Cards</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Cookie Preferences</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Legal Notices</a></li>
      </ul>
    </div>


  </footer>
</div>

</main>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>