{% extends 'base.html' %}

{% block title %}
AITU FOODPARK
{% endblock%}


{% block body %}
<body style="background-color: black">

<div class="container" style="width: 1440px; margin-top: 80px">

  <div class="" style="height: 450px; position: relative; background-image: url('/static/img/img/Picture → WMMB_FoodDrink_DesktopHero.jpg.png')">
  <div class="inner text-light" style=" width: 80%; position:absolute; padding-left: 140px; padding-top: 270px">
    <h1>Food & Drinks at AITUPARK.</h1>
    <button type="button" class="btn btn-primary rounded-pill">Order</button>
  </div>
  </div>

  <div class="ratio-21x9" style="height: 385px; position: relative; background-image: url('/static/img/img/img_4.png')">
  <div class="inner text-light" style=" width: 80%; position:absolute; padding-left: 140px; padding-top: 60px">
    <h1>Crunch, Munch, and Sip</h1>
  </div>

  <div class = "inner text-light" style="width: 100%; position:absolute; padding-top: 220px;  padding-left: 580px">
    <p>AITUPARK goes far beyond classic concessions like popcorn and fountain drinks to give you an <br>
        absolutely appetizing experience. We're always innovating and exploring new ways to bring <br>
        the best food and drinks to our theatres. Select from the options below to learn more about <br>
        the menu selections, locations and special offers. <br>

    </p>
  </div>

  </div>

</div>



<div class="container" style="width: 1440px; margin-top: 30px; background-color: black">

<div class="row row-cols-1 row-cols-md-2 g-4 ">

  <div class="col text-light">
    <div class="card text-light" style="width: 500px; margin-left: 110px; background-color: black">
      <img src="/static/img/img/FB_1511_FF%2520Menu%2520Launch_SocialWeb_Promo_1200x856%2520(4).jpg.png" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title">AITUPARK Theatres Concessions</h5>
        <p class="card-text">Great variety, superior quality, made-to-order snacks just for you.</p>
        <br>
        <button type="button" class="btn border-light rounded-pill text-light" style="width: 115px">Learn More</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-light" style="width: 500px ;background-color: black">
      <img src="/static/img/img/005_GA_210803_172.jpg.png" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title">AITUPARK DINE-IN</h5>
        <p class="card-text">It's a movie theatre and restaurant rolled into one.</p>
        <br>
        <button type="button" class="btn border-light rounded-pill text-light" style="width: 115px">Learn More</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-light" style="width: 500px; margin-left: 110px; background-color: black">
      <img src="/static/img/img/FB_1535_CLA-Orange-BG_WebPromo_1200x856.jpg.png" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title">AITUPARK CLASSIC Concessions</h5>
        <p class="card-text">Enjoy freshly crafted cuisine for the big screen! Taste an <br> appetizing
            variety of old favorites and fresh flavors.
        </p>
        <br>
        <button type="button" class="btn border-light rounded-pill text-light" style="width: 115px">Learn More</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-light" style="width: 500px; background-color: black">
      <img src="/static/img/img/McGuffins_Web_Promo_1250x892.jpg.png" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title">MacGuffins Bar</h5>
        <p class="card-text">Enjoy your favorite beer, wine and cocktails before the movie and <br>
            during the show.
        </p>
        <br>
        <button type="button" class="btn border-light rounded-pill text-light" style="width: 115px">Learn More</button>
      </div>
    </div>
  </div>
</div>

</div>


<div class="container" style="width: 1440px; margin-top: 30px; background-color: black">

  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 40px">
  <div class="row no-gutters borders-0">
    <div class="col-md borders-0">
      <img src="/static/img/img/Picture → FB_1596_RenaissanceBeyonce_CCVPromoPod.jpg.png" class="card-img rounded-0 borders-0" style="height: 430px; width:600px " alt="...">
    </div>

    <div class="col-md borders-0">
      <div class="card-body borders-0" style="padding-top: 80px">
        <h5 class="card-title">Showtime Snacks & <br> Sips That Go Harder</h5>
        <p class="card-text">Get official RENAISSANCE: A FILM BY <br>
            BEYONCE popcorn tins and cups, <br>
            exclusively available in theatres <br>
            starting 11/30. Each collectible comes <br>
            with a large popcorn or large fountain <br>
            drink.
        </p>

        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Get tickets</button>


      </div>
    </div>



  </div>
</div>

  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">
  <div class="row no-gutters">

    <div class="col-md">
      <div class="card-body" style="padding-top: 80px; padding-left: 0">
        <h5 class="card-title">$5 Flavor Maker Combo</h5>
        <p class="card-text">
          Soar into AITUPARK Theatres for our $5 <br>
          Flavor Maker combo with your choice of <br>
          a small Coca-Cola Freestyle® or ICEE® <br>
          and small popcorn when you see THE <br>
          MARVELS in theatres 11/10! <br>
        </p>
        <button type="button" class="btn btn-light rounded-pill" style="width: 110px; margin-right: 20px">Get offer</button>
        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Get tickets</button>


      </div>
    </div>

    <div class="col-md">
          <img src="/static/img/img/Picture → 65214-AMC-Marvels-Web-Promo-Pod-1200x856-ComingSoon-3.jpg.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">
    </div>

  </div>
</div>


  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">
  <div class="row no-gutters">
    <div class="col-md">
      <img src="/static/img/img/Picture → FB_1591_TROLLS_BAND_TOGETHER_CCV_Promo_Pod_1250x892_v01.jpg.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">
    </div>

    <div class="col-md">
      <div class="card-body" style="padding-top: 80px">
        <h5 class="card-title">
          Get These New <br>
          Collectibles on the <br>
          Block <br>
        </h5>
        <p class="card-text">
            Keep your hunger and thirst in sync <br>
            with our exclusive TROLLS BAND <br>
            TOGETHER collectibles. Get a Poppy <br>
            popcorn vessel & large popcorn for <br>
            $34.99+tax and a cup & topper with a <br>
            large drink for only $11.99+tax! On sale <br>
            in theatres 11/16, while supplies last. <br>
        </p>
        <button type="button" class="btn text-light rounded-pill border-light" style="width: 200px">Participating Locations</button>


      </div>
    </div>



  </div>
</div>

  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">
  <div class="row no-gutters">

    <div class="col-md">
      <div class="card-body" style="padding-top: 80px; padding-left: 0">
        <h5 class="card-title">
          Light Up Your World <br>
          With Wishes</h5>
        <p class="card-text">
          Make every day magical with our  <br>
          exclusive WISH light-up popcorn vessel <br>
          and star projector cup. Let your wishes <br>
          shine bright! On sale in theatres 11/21, <br>
          while supplies last. <br>
        </p>
        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Check Locations</button>


      </div>
    </div>

    <div class="col-md">
          <img src="/static/img/img/Picture → AMC_WISH_Website-Hero-LandingPage-PromoPod_1123_1200x856.jpg.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">
    </div>

  </div>
</div>


  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">
  <div class="row no-gutters">
    <div class="col-md">
      <img src="/static/img/img/ttttt.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">
    </div>

    <div class="col-md">
      <div class="card-body" style="padding-top: 80px">
        <h5 class="card-title">Savor the Pop without <br>
          Stop</h5>
        <p class="card-text">
          Pop in all year long with our 2024 <br>
          CLASSIC Refillable Popcorn Bucket <br>
          and save with refills for only <br>
          $5.49+tax/visit. Plus, AITUPARK Stubs® <br>
          members get $4 off the regular bucket <br>
          price of $24.99+tax and enjoy a free <br>
          2nd same day refill! <br>
        </p>
        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Check Locations</button>


      </div>
    </div>



  </div>
</div>

  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">
  <div class="row no-gutters">

    <div class="col-md">
      <div class="card-body" style="padding-top: 80px; padding-left: 0">
        <h5 class="card-title">Share in the Magic <br>
        Together</h5>
        <p class="card-text">
          Cheer is here with the Holiday Snack <br>
          Pack! Split a large popcorn, two large <br>
          drinks, and two candies. Plus, as a <br>
          member benefit, AITUPARK Stubs A-List™ & <br>
          Premiere™ members save $2.<br>
        </p>
        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px; margin-right: 20px">Order now</button>
        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Check Locations</button>


      </div>
    </div>

    <div class="col-md">
          <img src="/static/img/img/rrrr.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">
    </div>

  </div>
</div>


  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">
  <div class="row no-gutters">
    <div class="col-md">
      <img src="/static/img/img/pink.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">
    </div>

    <div class="col-md">
      <div class="card-body" style="padding-top: 80px">
        <h5 class="card-title">Treat Yourself to a Cool <br>
        Encore</h5>
        <p class="card-text">Classic flavor doesn’t need a reunion
            tour to stay in favor. See TROLLS <br>
            BAND TOGETHER, in theatres 11/17, <br>
            and don’t forget to grab an ICEE so <br>
            you can sip along while you sing along <br>
            to a cool new mix of pop hits! <br>
            drink.
        </p>
        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Order now</button>

      </div>
    </div>



  </div>
</div>

  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">
  <div class="row no-gutters">

    <div class="col-md">
      <div class="card-body" style="padding-top: 80px; padding-left: 0">
        <h5 class="card-title">Sign in to Get All Your <br>
          Points & Perks</h5>
        <p class="card-text">
          Earn points on your online purchases by <br>
          logging in to your account before <br>
          checking out. At the theatre, scan your <br>
          digital AITUPARK Stubs card whenever you <br>
          check out. Receive a $5 reward for <br>
          every 5,000 points. <br>
        </p>
        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px; margin-right: 20px">Sign in</button>
        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Learn more</button>

      </div>
    </div>

    <div class="col-md">
          <img src="/static/img/img/log.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">
    </div>

  </div>
</div>



  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">
  <div class="row no-gutters">
    <div class="col-md">
      <img src="/static/img/img/snack.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">
    </div>

    <div class="col-md">
      <div class="card-body" style="padding-top: 80px">
        <h5 class="card-title">In-Store Grocery <br>
          Popcorn</h5>
        <p class="card-text">
            Popcorn lovers rejoice! Dig into our <br>
            all-new line of microwave and ready- <br>
            to-eat popcorn varieties at select <br>
            Walmart locations and online now. <br>
        </p>
        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Learn more</button>


      </div>
    </div>



  </div>
</div>

  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">
  <div class="row no-gutters">

    <div class="col-md">
      <div class="card-body" style="padding-top: 80px; padding-left: 0">
        <h5 class="card-title">Enhanced Flavor Made <br>
        to Savor</h5>
        <p class="card-text">
          Bon appétit to a bold, fresh twist on our <br>
          traditional favorites with our new <br>
          Feature Fare food offerings! Try our new <br>
          Bavarian Legend pretzel flavors, stone- <br>
          fired flatbreads, hazelnut churros, and <br>
          more! <br>
        </p>
        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Order now</button>


      </div>
    </div>

    <div class="col-md">
          <img src="/static/img/img/pub.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">
    </div>

  </div>
</div>



  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">
  <div class="row no-gutters">
    <div class="col-md">
      <img src="/static/img/img/pop.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">
    </div>

    <div class="col-md">
      <div class="card-body" style="padding-top: 80px">
        <h5 class="card-title">Get It Poppin’ at Home <br>
        or on the Go</h5>
        <p class="card-text">
          The super-sharable AITUPARK Theatres <br>
          MegaBag™ is packaged for carryout, <br>
          so you can enjoy our irresistibly savory <br>
          AITUPARK Theatres Perfectly Popcorn™ at <br>
          game nights, parties, relaxing on the <br>
          couch, and more. Mobile pre-order <br>
          available at select locations. <br>
        </p>
        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Learn more</button>

      </div>
    </div>



  </div>
</div>

  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">
  <div class="row no-gutters">

    <div class="col-md">
      <div class="card-body" style="padding-top: 80px; padding-left: 0">
        <h5 class="card-title">Freedom to Freestyle</h5>
        <p class="card-text">
          Explore the possibilities with 100+ drink <br>
          choices with Coca-Cola Freestyle®. Try <br>
          your favorite with a twist. Whether <br>
          you're craving Fanta® Orange, Coke <br>
          Zero Sugar® Cherry or AHA Blueberry <br>
          Pomegranate, the choice is yours. <br>
          Choose your drink and enjoy only with <br>
          Freestyle. <br>
        </p>
        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Order now</button>


      </div>
    </div>

    <div class="col-md">
          <img src="/static/img/img/drink.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">
    </div>

  </div>
</div>


</div>



<div class="container" style="width: 1440px; margin-top: 100px;background-color: black">

  <div class="ratio-21x9" style="height: 500px; position: relative; background-image: url('/static/img/img/img_2.png')">
  <div class="inner text-light" style=" width: 100%; position:absolute; padding-left: 850px; padding-top: 220px">
    <h1>Order Snacks <br>
    Ahead of Time!</h1>
    <p>
      Have your food and drink ready for you when you <br>
      arrive! Try it now or in the AITUPARK app.
    </p>
    <button type="button" class="btn btn-light rounded-pill" style="width: 110px; margin-right: 20px">Order Now</button>
    <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Get Tickets</button>

  </div>
  </div>

</div>

<div class="container text-light" style="background-color: black; margin-top: 80px">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5  d-flex justify-content-center">


    <div class="col mb-3">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">FAQ</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Investor Relations</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Ways to Watch</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Corporate Information</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Only on AITUPARK</a></li>
      </ul>
    </div>

    <div class="col mb-3">

      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Help Center</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Jobs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Terms of Use</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Contact Us</a></li>
      </ul>
    </div>

    <div class="col mb-3">

      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Account</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Redeem Gift Cards</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Privacy</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Speed Test</a></li>
      </ul>
    </div>

    <div class="col mb-3">

      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Media Center</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Buy Gift Cards</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Cookie Preferences</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Legal Notices</a></li>
      </ul>
    </div>


  </footer>
</div>












<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
{% endblock %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Food and Beverage</title>-->
<!--    <link rel="stylesheet" href="/static/style1.css">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
<!--    <style>-->
<!--    /*  .navbar {*/-->
<!--    /*background-color: black;*/-->
<!--    /*}*/-->
<!--    .navbar-brand {-->
<!--        font-family: 'Netflix Sans', Arial, serif;-->
<!--        font-style: normal;-->
<!--        }-->


<!--    </style>-->
<!--</head>-->
<!--<body style="background-color: black">-->

<!--<nav class="navbar navbar-expand-md  navbar-dark fixed-top">-->
<!--    <div class="container-fluid">-->
<!--      <a class="navbar-brand" href="#">AITUPARK</a>-->

<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

<!--      <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--        <ul class="navbar-nav me-auto mb-2 mb-md-0">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Cinema</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Movies</a>-->
<!--          </li>-->
<!--         <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Food and beverage</a>-->
<!--         </li>-->
<!--        </ul>-->
<!--        <button type="button" class="btn btn-primary">Sign In</button>-->

<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->

<!--<div class="container" style="width: 1440px; margin-top: 54px">-->

<!--  <div class="" style="height: 450px; position: relative; background-image: url('/static/img/img/Picture → WMMB_FoodDrink_DesktopHero.jpg.png')">-->
<!--  <div class="inner text-light" style=" width: 80%; position:absolute; padding-left: 140px; padding-top: 270px">-->
<!--    <h1>Food & Drinks at AITUPARK.</h1>-->
<!--    <button type="button" class="btn btn-primary rounded-pill">Order</button>-->
<!--  </div>-->
<!--  </div>-->

<!--  <div class="ratio-21x9" style="height: 385px; position: relative; background-image: url('/static/img/img/img_4.png')">-->
<!--  <div class="inner text-light" style=" width: 80%; position:absolute; padding-left: 140px; padding-top: 60px">-->
<!--    <h1>Crunch, Munch, and Sip</h1>-->
<!--  </div>-->

<!--  <div class = "inner text-light" style="width: 100%; position:absolute; padding-top: 220px;  padding-left: 580px">-->
<!--    <p>AITUPARK goes far beyond classic concessions like popcorn and fountain drinks to give you an <br>-->
<!--        absolutely appetizing experience. We're always innovating and exploring new ways to bring <br>-->
<!--        the best food and drinks to our theatres. Select from the options below to learn more about <br>-->
<!--        the menu selections, locations and special offers. <br>-->

<!--    </p>-->
<!--  </div>-->

<!--  </div>-->

<!--</div>-->



<!--<div class="container" style="width: 1440px; margin-top: 30px; background-color: black">-->

<!--<div class="row row-cols-1 row-cols-md-2 g-4 ">-->

<!--  <div class="col text-light">-->
<!--    <div class="card text-light" style="width: 500px; margin-left: 110px; background-color: black">-->
<!--      <img src="/static/img/img/FB_1511_FF%2520Menu%2520Launch_SocialWeb_Promo_1200x856%2520(4).jpg.png" class="card-img-top rounded-0" alt="...">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">AITUPARK Theatres Concessions</h5>-->
<!--        <p class="card-text">Great variety, superior quality, made-to-order snacks just for you.</p>-->
<!--        <br>-->
<!--        <button type="button" class="btn border-light rounded-pill text-light" style="width: 115px">Learn More</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col">-->
<!--    <div class="card text-light" style="width: 500px ;background-color: black">-->
<!--      <img src="/static/img/img/005_GA_210803_172.jpg.png" class="card-img-top rounded-0" alt="...">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">AITUPARK DINE-IN</h5>-->
<!--        <p class="card-text">It's a movie theatre and restaurant rolled into one.</p>-->
<!--        <br>-->
<!--        <button type="button" class="btn border-light rounded-pill text-light" style="width: 115px">Learn More</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col">-->
<!--    <div class="card text-light" style="width: 500px; margin-left: 110px; background-color: black">-->
<!--      <img src="/static/img/img/FB_1535_CLA-Orange-BG_WebPromo_1200x856.jpg.png" class="card-img-top rounded-0" alt="...">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">AITUPARK CLASSIC Concessions</h5>-->
<!--        <p class="card-text">Enjoy freshly crafted cuisine for the big screen! Taste an <br> appetizing-->
<!--            variety of old favorites and fresh flavors.-->
<!--        </p>-->
<!--        <br>-->
<!--        <button type="button" class="btn border-light rounded-pill text-light" style="width: 115px">Learn More</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col">-->
<!--    <div class="card text-light" style="width: 500px; background-color: black">-->
<!--      <img src="/static/img/img/McGuffins_Web_Promo_1250x892.jpg.png" class="card-img-top rounded-0" alt="...">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">MacGuffins Bar</h5>-->
<!--        <p class="card-text">Enjoy your favorite beer, wine and cocktails before the movie and <br>-->
<!--            during the show.-->
<!--        </p>-->
<!--        <br>-->
<!--        <button type="button" class="btn border-light rounded-pill text-light" style="width: 115px">Learn More</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--</div>-->


<!--<div class="container" style="width: 1440px; margin-top: 30px; background-color: black">-->

<!--  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 40px">-->
<!--  <div class="row no-gutters borders-0">-->
<!--    <div class="col-md borders-0">-->
<!--      <img src="/static/img/img/Picture → FB_1596_RenaissanceBeyonce_CCVPromoPod.jpg.png" class="card-img rounded-0 borders-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--    <div class="col-md borders-0">-->
<!--      <div class="card-body borders-0" style="padding-top: 80px">-->
<!--        <h5 class="card-title">Showtime Snacks & <br> Sips That Go Harder</h5>-->
<!--        <p class="card-text">Get official RENAISSANCE: A FILM BY <br>-->
<!--            BEYONCE popcorn tins and cups, <br>-->
<!--            exclusively available in theatres <br>-->
<!--            starting 11/30. Each collectible comes <br>-->
<!--            with a large popcorn or large fountain <br>-->
<!--            drink.-->
<!--        </p>-->

<!--        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Get tickets</button>-->


<!--      </div>-->
<!--    </div>-->



<!--  </div>-->
<!--</div>-->

<!--  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">-->
<!--  <div class="row no-gutters">-->

<!--    <div class="col-md">-->
<!--      <div class="card-body" style="padding-top: 80px; padding-left: 0">-->
<!--        <h5 class="card-title">$5 Flavor Maker Combo</h5>-->
<!--        <p class="card-text">-->
<!--          Soar into AITUPARK Theatres for our $5 <br>-->
<!--          Flavor Maker combo with your choice of <br>-->
<!--          a small Coca-Cola Freestyle® or ICEE® <br>-->
<!--          and small popcorn when you see THE <br>-->
<!--          MARVELS in theatres 11/10! <br>-->
<!--        </p>-->
<!--        <button type="button" class="btn btn-light rounded-pill" style="width: 110px; margin-right: 20px">Get offer</button>-->
<!--        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Get tickets</button>-->


<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md">-->
<!--          <img src="/static/img/img/Picture → 65214-AMC-Marvels-Web-Promo-Pod-1200x856-ComingSoon-3.jpg.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->


<!--  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">-->
<!--  <div class="row no-gutters">-->
<!--    <div class="col-md">-->
<!--      <img src="/static/img/img/Picture → FB_1591_TROLLS_BAND_TOGETHER_CCV_Promo_Pod_1250x892_v01.jpg.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--    <div class="col-md">-->
<!--      <div class="card-body" style="padding-top: 80px">-->
<!--        <h5 class="card-title">-->
<!--          Get These New <br>-->
<!--          Collectibles on the <br>-->
<!--          Block <br>-->
<!--        </h5>-->
<!--        <p class="card-text">-->
<!--            Keep your hunger and thirst in sync <br>-->
<!--            with our exclusive TROLLS BAND <br>-->
<!--            TOGETHER collectibles. Get a Poppy <br>-->
<!--            popcorn vessel & large popcorn for <br>-->
<!--            $34.99+tax and a cup & topper with a <br>-->
<!--            large drink for only $11.99+tax! On sale <br>-->
<!--            in theatres 11/16, while supplies last. <br>-->
<!--        </p>-->
<!--        <button type="button" class="btn text-light rounded-pill border-light" style="width: 200px">Participating Locations</button>-->


<!--      </div>-->
<!--    </div>-->



<!--  </div>-->
<!--</div>-->

<!--  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">-->
<!--  <div class="row no-gutters">-->

<!--    <div class="col-md">-->
<!--      <div class="card-body" style="padding-top: 80px; padding-left: 0">-->
<!--        <h5 class="card-title">-->
<!--          Light Up Your World <br>-->
<!--          With Wishes</h5>-->
<!--        <p class="card-text">-->
<!--          Make every day magical with our  <br>-->
<!--          exclusive WISH light-up popcorn vessel <br>-->
<!--          and star projector cup. Let your wishes <br>-->
<!--          shine bright! On sale in theatres 11/21, <br>-->
<!--          while supplies last. <br>-->
<!--        </p>-->
<!--        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Check Locations</button>-->


<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md">-->
<!--          <img src="/static/img/img/Picture → AMC_WISH_Website-Hero-LandingPage-PromoPod_1123_1200x856.jpg.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->


<!--  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">-->
<!--  <div class="row no-gutters">-->
<!--    <div class="col-md">-->
<!--      <img src="/static/img/img/ttttt.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--    <div class="col-md">-->
<!--      <div class="card-body" style="padding-top: 80px">-->
<!--        <h5 class="card-title">Savor the Pop without <br>-->
<!--          Stop</h5>-->
<!--        <p class="card-text">-->
<!--          Pop in all year long with our 2024 <br>-->
<!--          CLASSIC Refillable Popcorn Bucket <br>-->
<!--          and save with refills for only <br>-->
<!--          $5.49+tax/visit. Plus, AITUPARK Stubs® <br>-->
<!--          members get $4 off the regular bucket <br>-->
<!--          price of $24.99+tax and enjoy a free <br>-->
<!--          2nd same day refill! <br>-->
<!--        </p>-->
<!--        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Check Locations</button>-->


<!--      </div>-->
<!--    </div>-->



<!--  </div>-->
<!--</div>-->

<!--  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">-->
<!--  <div class="row no-gutters">-->

<!--    <div class="col-md">-->
<!--      <div class="card-body" style="padding-top: 80px; padding-left: 0">-->
<!--        <h5 class="card-title">Share in the Magic <br>-->
<!--        Together</h5>-->
<!--        <p class="card-text">-->
<!--          Cheer is here with the Holiday Snack <br>-->
<!--          Pack! Split a large popcorn, two large <br>-->
<!--          drinks, and two candies. Plus, as a <br>-->
<!--          member benefit, AITUPARK Stubs A-List™ & <br>-->
<!--          Premiere™ members save $2.<br>-->
<!--        </p>-->
<!--        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px; margin-right: 20px">Order now</button>-->
<!--        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Check Locations</button>-->


<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md">-->
<!--          <img src="/static/img/img/rrrr.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->


<!--  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">-->
<!--  <div class="row no-gutters">-->
<!--    <div class="col-md">-->
<!--      <img src="/static/img/img/pink.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--    <div class="col-md">-->
<!--      <div class="card-body" style="padding-top: 80px">-->
<!--        <h5 class="card-title">Treat Yourself to a Cool <br>-->
<!--        Encore</h5>-->
<!--        <p class="card-text">Classic flavor doesn’t need a reunion-->
<!--            tour to stay in favor. See TROLLS <br>-->
<!--            BAND TOGETHER, in theatres 11/17, <br>-->
<!--            and don’t forget to grab an ICEE so <br>-->
<!--            you can sip along while you sing along <br>-->
<!--            to a cool new mix of pop hits! <br>-->
<!--            drink.-->
<!--        </p>-->
<!--        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Order now</button>-->

<!--      </div>-->
<!--    </div>-->



<!--  </div>-->
<!--</div>-->

<!--  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">-->
<!--  <div class="row no-gutters">-->

<!--    <div class="col-md">-->
<!--      <div class="card-body" style="padding-top: 80px; padding-left: 0">-->
<!--        <h5 class="card-title">Sign in to Get All Your <br>-->
<!--          Points & Perks</h5>-->
<!--        <p class="card-text">-->
<!--          Earn points on your online purchases by <br>-->
<!--          logging in to your account before <br>-->
<!--          checking out. At the theatre, scan your <br>-->
<!--          digital AITUPARK Stubs card whenever you <br>-->
<!--          check out. Receive a $5 reward for <br>-->
<!--          every 5,000 points. <br>-->
<!--        </p>-->
<!--        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px; margin-right: 20px">Sign in</button>-->
<!--        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Learn more</button>-->

<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md">-->
<!--          <img src="/static/img/img/log.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->



<!--  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">-->
<!--  <div class="row no-gutters">-->
<!--    <div class="col-md">-->
<!--      <img src="/static/img/img/snack.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--    <div class="col-md">-->
<!--      <div class="card-body" style="padding-top: 80px">-->
<!--        <h5 class="card-title">In-Store Grocery <br>-->
<!--          Popcorn</h5>-->
<!--        <p class="card-text">-->
<!--            Popcorn lovers rejoice! Dig into our <br>-->
<!--            all-new line of microwave and ready- <br>-->
<!--            to-eat popcorn varieties at select <br>-->
<!--            Walmart locations and online now. <br>-->
<!--        </p>-->
<!--        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Learn more</button>-->


<!--      </div>-->
<!--    </div>-->



<!--  </div>-->
<!--</div>-->

<!--  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">-->
<!--  <div class="row no-gutters">-->

<!--    <div class="col-md">-->
<!--      <div class="card-body" style="padding-top: 80px; padding-left: 0">-->
<!--        <h5 class="card-title">Enhanced Flavor Made <br>-->
<!--        to Savor</h5>-->
<!--        <p class="card-text">-->
<!--          Bon appétit to a bold, fresh twist on our <br>-->
<!--          traditional favorites with our new <br>-->
<!--          Feature Fare food offerings! Try our new <br>-->
<!--          Bavarian Legend pretzel flavors, stone- <br>-->
<!--          fired flatbreads, hazelnut churros, and <br>-->
<!--          more! <br>-->
<!--        </p>-->
<!--        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Order now</button>-->


<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md">-->
<!--          <img src="/static/img/img/pub.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->



<!--  <div class="card mb-3 rounded-0 borders-0 text-light left picture, right text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">-->
<!--  <div class="row no-gutters">-->
<!--    <div class="col-md">-->
<!--      <img src="/static/img/img/pop.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--    <div class="col-md">-->
<!--      <div class="card-body" style="padding-top: 80px">-->
<!--        <h5 class="card-title">Get It Poppin’ at Home <br>-->
<!--        or on the Go</h5>-->
<!--        <p class="card-text">-->
<!--          The super-sharable AITUPARK Theatres <br>-->
<!--          MegaBag™ is packaged for carryout, <br>-->
<!--          so you can enjoy our irresistibly savory <br>-->
<!--          AITUPARK Theatres Perfectly Popcorn™ at <br>-->
<!--          game nights, parties, relaxing on the <br>-->
<!--          couch, and more. Mobile pre-order <br>-->
<!--          available at select locations. <br>-->
<!--        </p>-->
<!--        <button type="button" class="btn text-light rounded-pill border-light" style="width: 150px">Learn more</button>-->

<!--      </div>-->
<!--    </div>-->



<!--  </div>-->
<!--</div>-->

<!--  <div class="card mb-3 rounded-0 borders-0 text-light right picture, left text" style="max-width: 1058px; height: 430px; margin-left: 110px; background-color: black; padding-top: 60px">-->
<!--  <div class="row no-gutters">-->

<!--    <div class="col-md">-->
<!--      <div class="card-body" style="padding-top: 80px; padding-left: 0">-->
<!--        <h5 class="card-title">Freedom to Freestyle</h5>-->
<!--        <p class="card-text">-->
<!--          Explore the possibilities with 100+ drink <br>-->
<!--          choices with Coca-Cola Freestyle®. Try <br>-->
<!--          your favorite with a twist. Whether <br>-->
<!--          you're craving Fanta® Orange, Coke <br>-->
<!--          Zero Sugar® Cherry or AHA Blueberry <br>-->
<!--          Pomegranate, the choice is yours. <br>-->
<!--          Choose your drink and enjoy only with <br>-->
<!--          Freestyle. <br>-->
<!--        </p>-->
<!--        <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Order now</button>-->


<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md">-->
<!--          <img src="/static/img/img/drink.png" class="card-img rounded-0" style="height: 430px; width:600px " alt="...">-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->


<!--</div>-->



<!--<div class="container" style="width: 1440px; margin-top: 100px;background-color: black">-->

<!--  <div class="ratio-21x9" style="height: 500px; position: relative; background-image: url('/static/img/img/img_2.png')">-->
<!--  <div class="inner text-light" style=" width: 100%; position:absolute; padding-left: 850px; padding-top: 220px">-->
<!--    <h1>Order Snacks <br>-->
<!--    Ahead of Time!</h1>-->
<!--    <p>-->
<!--      Have your food and drink ready for you when you <br>-->
<!--      arrive! Try it now or in the AITUPARK app.-->
<!--    </p>-->
<!--    <button type="button" class="btn btn-light rounded-pill" style="width: 110px; margin-right: 20px">Order Now</button>-->
<!--    <button type="button" class="btn btn-primary rounded-pill" style="width: 110px">Get Tickets</button>-->

<!--  </div>-->
<!--  </div>-->

<!--</div>-->

<!--<div class="container text-light" style="background-color: black; margin-top: 80px">-->
<!--  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5  d-flex justify-content-center">-->


<!--    <div class="col mb-3">-->
<!--      <ul class="nav flex-column">-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">FAQ</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Investor Relations</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Ways to Watch</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Corporate Information</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Only on AITUPARK</a></li>-->
<!--      </ul>-->
<!--    </div>-->

<!--    <div class="col mb-3">-->

<!--      <ul class="nav flex-column">-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Help Center</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Jobs</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Terms of Use</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Contact Us</a></li>-->
<!--      </ul>-->
<!--    </div>-->

<!--    <div class="col mb-3">-->

<!--      <ul class="nav flex-column">-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Account</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Redeem Gift Cards</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Privacy</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Speed Test</a></li>-->
<!--      </ul>-->
<!--    </div>-->

<!--    <div class="col mb-3">-->

<!--      <ul class="nav flex-column">-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Media Center</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Buy Gift Cards</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Cookie Preferences</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Legal Notices</a></li>-->
<!--      </ul>-->
<!--    </div>-->


<!--  </footer>-->
<!--</div>-->












<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->