{% extends 'base.html' %}

{% block title %}
Movies
{% endblock%}


{% block body%}

<h3 style="margin-top: 160px; margin-left: 170px; font-size: 25px">Movies at <span style="color: #06F; font-weight: bold;">AITUPARK</span></h3>
<div class="album py-5 bg-body-tertiary">

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for movie in movies %}
                <div class="col">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <li><b>Title:</b> {{ movie.title }} </li>
                      <li><b>Time:</b> {{ movie.release_data }} </li>
                      <p class="card-text">{{ movie.description }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="{{ url_for('booking', post_id=post.id) }}" class="btn btn-sm btn-outline-secondary">Book</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}